html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
}

html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: transparent !important;
  overflow-x: hidden;
}

.shiki {
  background-color: transparent !important;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

.command-background {
  max-width: 100% !important;
}

@media (min-height: 540px) {
  .command-background {
    max-height: 100% !important;
    height: 100% !important;
  }
  .command-listbox-container {
    max-height: calc(100vh - 100px) !important;
    height: auto !important;
  }

  .command-listbox {
  }

  .command-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
