name: Release Launcher

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
      - name: Install go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.4

      - name: Install just
        uses: extractions/setup-just@v1
        with:
          just-version: '*'

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install
        run: just install-action

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          files: |
            release/0.1.0/launcher-0.1.0.AppImage
            bin/ray
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
